/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  position: relative; /* Set relative positioning for the parent */
  padding: 20px; /* Add padding if necessary */
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
/* Navbar */
nav{
  display: flex;
  align-items: center;
}
nav a{
  margin-left: 10px;
}
nav button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}
nav button:hover{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  transform: rotate(3deg); /* Rotate 3 degrees on hover */
}
/* Auth forms */
form.signup, form.login{
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 4px;
}
/* Loader */
.loader-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;         
}
/* Edit button */
.edit-button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 5px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  position: absolute; /* Allow for positioning */
  bottom: 20px; /* Position from the bottom */
  right: 20px; /* Position from the left */
}
/* Delete button */
.delete-button{
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  position: absolute; /* Allow for positioning */
  bottom: 20px; /* Position from the bottom */
  right: 20px; /* Position from the left */
}
/* Close-button */
.close-button {
  background: none;
  border: none;
  color: red; /* Red color for visibility */
  font-size: 25px; /* Make it larger */
  cursor: pointer; /* Pointer cursor */
  position: absolute; /* Position it within the form */
  top: 10px;
  right: 10px;
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}
.close-button:hover {
  transform: rotate(15deg); /* Rotate 15 degrees on hover */
}

